<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OrionEscritorio.Properties.Settings.ConnectionString"
            connectionString="DATA SOURCE=db1.cztngvuqdqia.sa-east-1.rds.amazonaws.com:1521/ORADB;PASSWORD=123456123;USER ID=MATIAS"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>